* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: "EB Garamond", serif;
}

#nav1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #004831 ;
}

#nav1_right ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
}

#nav1_right li a {
    display: block;
    text-align: center;
    padding: 30px 40px;
    font-size: 30px;
    color: #FFF3D7;
    text-decoration: none;
}

#nav1_right li {
    margin: 0;
}

#nav1 li a:hover {
  background-color: #111;
}

#nav1_left {
    font-weight: bold;
    color: white;
    font-size: 40px;
}

#nav1_logo {
    margin-left: 40px;
}