*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: "EB Garamond", serif;
}


/* Email Form */

.container{
    width: 100%;
    height: 100vh;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    background: white;
    display: flex;
    flex-direction: column;
    padding: 2vw 3vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
}

form h3{
    color: black;
    font-weight: 800;
    margin-bottom: 20px;
}

form input, form textarea{
    border: 0;
    margin: 10px 0;
    padding: 10px;
    border: black 2px solid;
    border-radius: 2px;
}

form button{
    padding: 15px;
    background: black;
    color: white;
    font-size: 18px;
    border: 0;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
}


/* Navigation 1 */

#nav1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #004831 ;
}

#nav1_right ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
}

#nav1_right li a {
    display: block;
    text-align: center;
    padding: 30px 40px;
    font-size: 30px;
    color: #ffe4a6;
    text-decoration: none;
}

#nav1_right li {
    margin: 0;
}

#nav1 li a:hover {
  background-color: #111;
}

#nav1_left {
    font-weight: bold;
    color: white;
    font-size: 40px;
}

#nav1_logo {
    margin-left: 40px;
}






