<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>

    <nav id="admin_nav">
        <div id="nav-horizontal_left">
            <div id="logo_container">
                <img id="logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="logo">
                <div id="logo_txt">
                    <h2>Lost</h2>
                    <h2>Property</h2>
                </div>
            </div>
        </div>
        

        <div id="dashboard_link">
            <a href="{{ url_for('admin') }}">Return to Dashboard</a>
        </div>

        <div id="nav-horizontal_right">
            <div id="logout_button">logout</div>
        </div>
    </nav>


    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>