<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WBHS Lost Property</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap" rel="stylesheet">
    {% block head %} {% endblock %} 
</head>
<body>

    <nav id="nav-horizontal">
        <div id="nav-horizontal_left">
            <img id="logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="logo">
            <div id="logo_txt">
                <h2>Lost</h2>
                <h2>Property</h2>
            </div>
        </div>
        
        <div id="nav-horizontal_right">
            <div class='login_logout_button' id="login">login</div>
        </div>
    </nav>

    <div class="main_content">

        <div class="side-menu">
            <div class="side-menu_top">
                <div id="menu">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>
            </div>

            <div class="side-menu_bottom">
                <ul>
                    <li><h2>My Menu:</h2></li>
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('claim') }}">Claim</a></li>
                    <li><a href="{{ url_for('report') }}">Report</a></li>
                </ul>
            </div>
        </div>

    
        <div class="page_container">

            <div class="login_form_container" id="login_form">
                <h2>Admin Login</h2>
                <form method="POST">
                    <input type="text" name="username" placeholder="Username" required><br>
                    <input type="password" name="password" placeholder="Password" required><br>
                    <button id='login' mtype="submit">Login</button>
                </form>
            </div>

            {% block body %} {% endblock %}
            
        </div>

    </div>
    <!-- <div style="width:100px; height: 2000px;"></div> -->

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>