{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<h2 class="page_header">Claim Your Lost Item</h2>

<div class="claim_page_container">
    <form method="GET" action="{{ url_for('search_public') }}">
        <input id="search_box" type="text" name="item" id="item" value="Search:" onclick="if(this.value=='Search:'){this.value='';}" onblur="if(this.value==''){this.value='Search:';}">
    </form>

    <div id="filter_button_container">
        {% set current_category = request.args.get('category', 'All') %}
        <a class="filter-btn {% if current_category == 'Clothing and Accessories' %}active{% endif %}" href="{{ url_for('claim', category='Clothing and Accessories', item=request.args.get('item','')) }}" >
            Clothing and Accessories
        </a>
        <a class="filter-btn {% if current_category == 'Electronics' %}active{% endif %}" href="{{ url_for('claim', category='Electronics', item=request.args.get('item','')) }}">
            Electronics
        </a>
        <a class="filter-btn {% if current_category == 'Stationery' %}active{% endif %}" href="{{ url_for('claim', category='Stationery', item=request.args.get('item','')) }}">
            Stationery
        </a>
        <a class="filter-btn {% if current_category == 'Personal Items' %}active{% endif %}" href="{{ url_for('claim', category='Personal Items', item=request.args.get('item','')) }}">
            Personal Items
        </a>
        <a class="filter-btn {% if current_category == 'Jewellery' %}active{% endif %}" href="{{ url_for('claim', category='Jewellery', item=request.args.get('item','')) }}">
            Jewellery
        </a>
        <a class="filter-btn {% if current_category == 'Sports Equipment' %}active{% endif %}" href="{{ url_for('claim', category='Sports Equipment', item=request.args.get('item','')) }}">
            Sports Equipment
        </a>
        <a class="filter-btn {% if current_category == 'Miscellaneous' %}active{% endif %}" href="{{ url_for('claim', category='Miscellaneous', item=request.args.get('item','')) }}">
            Miscellaneous
        </a>

        <a class="filter-btn" href="{{ url_for('claim', category='All', item=request.args.get('item','')) }}">
            View All
        </a>
    </div>

    {% for message in get_flashed_messages() %}
        <div class="flash_message">
            {{ message }}
        </div>
    {% endfor %}

    <div id="claim_gallery_container">
        {% for item in items %}
        <a href="{{ url_for('claim_item', item_id=item['id']) }}">
            <div id="claim_gallery_item">
                <h2>{{ item['item_name'] }}</h2>
                <img id='claim_gallery_image' src="{{ url_for('static', filename='uploads/' + item['image_filename']) }}"> 
                <h3>Description: </h3>
                <p>{{ item['description'] }}</p>
            </div>
        </a>
        {% endfor %}
    </div>
</div>


{% endblock %}