{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<h2 class="page_header">Westlake Boys Highschool Lost Property</h2>

<div id="home_page_hero">
    <h3 id="hero_txt">Lost Something at Westlake? <br>You are not alone.</h3>


</div>

<div id="index_text">
    <h3>What is this site for? </h3>
    <p>High school comes with an increased responsibility of managing assignments, exams and extracurricular activities. With so much going on, it is completely normal to occasionally misplace your belongings. This system was developed to help you recover your lost items efficiently, and securely. </p>
    <br>
    <p>You can browse through the gallery on our Claim page. If you find an item that belongs to you, please fill out the claim form to confirm your ownership. Most items that are reported will be uploaded within three days, so check regularly.</p>
    <br>
    <p>If you are to come across on item that appears to be lost, please use the form on our Report page to notify us. After a review, we will let you know of what will happen for the collection of the item. Please take note that this system can only run effectively if students and teachers report, or hand in items that have been located within school grounds. </p>
    <br>
    <p>Lastly, please use this program with responsibility, as we too will try to help you retreive your lost property as soon as possible.</p>
</div>





{% endblock %}