{% extends 'base.html' %}

{% block head %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>
<script type="text/javascript">
    (function() {
        emailjs.init({ publicKey: "YucshvHaQuTYTuku4" });
    })();
</script>
{% endblock %}

{% block body %}
<h2 class="page_header">Report a Found Item</h2>

<h2 id="report_title">Fill in the form to report a lost item you found</h2>

<div class="form_container">
    <form id="report_form">
        <h3>Please enter your Name, Email, and a Description of the found item:</h3>
        <input type="text" id="name" name="name" placeholder="Name:" required><br>
        <input type="email" id="email" name="email" placeholder="Email:" required><br>
        <textarea id="message" name="message" rows="4" placeholder="Description of item:"></textarea><br>
        <h3>Our team will contact you once we are ready to collect the item.</h3>
        <button type="submit">Send</button>
    </form>
</div>
{% endblock %}
