{% extends 'base_admin.html' %}

{% block head %}

{% endblock %}

{% block body %}

<div id="upload_container">
    <h1>Edit Lost Item:</h1>
    <form id='upload_item_form' method="POST">
        <h2>Item Title:</h2>
        <input id="upload_input" type="text" name="item_name" id="item_name" value="{{ item.item_name }}" required><br><br>

        <h2>Name:</h2>
        <input id="upload_input" type="text" name="name" id="name" value="{{ item.name }}" required><br><br>

        <h2>Description:</h2>
        <textarea id="upload_text" name="description" id="description" required>{{ item.description }}</textarea><br><br>

        <h2>Category:</h2>
        <select id="upload_category" name="category">
            <option value="">Select Category</option>
            <option value="Clothing & Accessories">Clothing & Accessories</option>
            <option value="Electronics">Electronics</option>
            <option value="Stationery">Stationery</option>
            <option value="Personal Items">Personal Items</option>
            <option value="Jewellery">Jewellery</option>
            <option value="Sports Equipment">Sports Equipment</option>
            <option value="Miscellaneous">Miscellaneous</option>
        </select>
        <br><br>
        <h2>Change Image:</h2><br>
        <input id='upload_image' type="file" name="image"><br><br>
        <br>
        <button id="upload_button" type="submit">Update Item</button>
    </form>
</div>

{% endblock %}