{% extends 'base_admin.html' %}

{% block head %}

{% endblock %}

{% block body %}
<h2>Edit Lost Item:</h2>
<form method="POST">
    <label>Item Title:</label><br>
    <input type="text" name="item_name" id="item_name" value="{{ item.item_name }}" required><br><br>

    <label>Name:</label><br>
    <input type="text" name="name" id="name" value="{{ item.name }}" required><br><br>

    <label>Description:</label><br>
    <textarea name="description" id="description" required>{{ item.description }}</textarea><br><br>

    <label>Category:</label><br>
    <select name="category">
        <option value="">-- Select Category --</option>
        <option value="Clothing & Accessories">Clothing & Accessories</option>
        <option value="Electronics">Electronics</option>
        <option value="Stationery">Stationery</option>
        <option value="Personal Items">Personal Items</option>
        <option value="Jewellery">Jewellery</option>
        <option value="Sports Equipment">Sports Equipment</option>
        <option value="Miscellaneous">Miscellaneous</option>
    </select><br><br>

    <label>Image:</label><br>
    <input type="file" name="image"><br><br>

    <button type="submit">Update Item</button>
</form>

{% endblock %}