{% extends 'base_admin.html' %}

{% block head %}

{% endblock %}

{% block body %}


<div id="upload_container">
    <h1>Create New Item</h1>
    <form id="upload_item_form" method="post" enctype="multipart/form-data">

        <input id="upload_input" type="text" name="item_name" placeholder="Item name:"><br><br>
        
        <input id="upload_input" type="text" name="name" placeholder="Name:"><br><br>

        <textarea id="upload_text" name="description" placeholder="Item Description:"></textarea><br><br>

        <br>
        <select id="upload_category" name="category">
            <option value="">Select Category</option>
            <option value="Clothing & Accessories">Clothing & Accessories</option>
            <option value="Electronics">Electronics</option>
            <option value="Stationery">Stationery</option>
            <option value="Personal Items">Personal Items</option>
            <option value="Jewellery">Jewellery</option>
            <option value="Sports Equipment">Sports Equipment</option>
            <option value="Miscellaneous">Miscellaneous</option>
        </select>

        <br><br>
        <h2>Image:</h2>
        <br>
        <input id='upload_image' type="file" name="image"><br><br>
        <br>
        <input id="upload_button" type="submit" value="Upload">
        <a id='cancel_button' href="{{ url_for('admin') }}">Cancel</a>
    </form>
</div>
{% endblock %}